# This is a basic workflow to help you get started with Actions

name: webapproval

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    types: labeled
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Docker Run Action
        # You may pin to the exact commit or the version.
        # uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185
        uses: addnab/docker-run-action@v3
        with:
          image: hello-world
